@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins&display=swap');

/*STANDARD DESKTOPS*/
    body, html{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        font-family: "Lato", sans-serif;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(197,220,223,0.5) !important;
        letter-spacing: 0.3em;
    }
    
    .brand-title{
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.2em;
        letter-spacing: 0.3em;
        margin: .5rem;
        padding-left: 10px;
    }
    .brand-title a{
        text-decoration: none;
        color: #77A8B2;
    }
    .navbar-links ul{
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .navbar-links li{
        list-style: none;
    }
    
    .navbar-links li a{
        text-decoration: none;
        color: #77A8B2;
        text-transform: uppercase;
        padding: 1rem;
        display: block;
    }
    .navbar-links li a:hover{
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        display: block;
    }
    .toggle-button{
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }
    .toggle-button .bar{
        height: 3px;
        width: 100%;
        background-color: #77A8B2;
        border-radius: 10px;
    }
    /*Body*/
    .body{
        height: 1080px;
        width: auto;
        background: url(images/bg-1.png) no-repeat;
        background-size: cover;
    }
    .main-content{
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 100px;

    }
    .mobile-name{
        display: none;
    }
    img.profile{
        height: 500px;
    }
    h1{
        color: #C5DCE9;
        font-size: 72px;
        font-family: "Lato", sans-serif;
        padding-bottom: 10px;
    }

    .intro{
        color: #77A8B2;
        font-size: 24px;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-weight: 400;

    }
    p{
        color: #77A8B2;
        font-size: 12px;
        font-family: "Lato", sans-serif;
        letter-spacing: 0.2em;
        font-weight: 400;
    }
    a.intro-more{
        display: none;
    }

    /*Projects*/
    .projects{
        height: 700px;
        background-color: rgba(197,220,223,100%);
        display: flex;
        justify-content: center;
    }
    h2{
        margin-top: 20px;
        color: #fff;
        font-size: 48px;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 700;
    }

    /*Socials*/
    .socials{
        display: flex;
        justify-content: center;
        background-color: rgb(213, 232, 235);
        padding: 5px;
    }

    .socials svg{
        margin-left: 20px;
    }
    .socials img{
        margin-left: 20px;
    }

    /*CONTACT PAGE*/
    .contact{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background: url(images/inverted-circle.svg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        overflow: hidden;
    }
    .contact-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

    }
    .h2-blue{
        margin-top: 200px;
        color: rgba(197,220,223,100%);
        font-size: 48px;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    .h2-blue-top{
        margin-top: 100px;
        color: rgba(197,220,223,100%);
        font-size: 48px;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .contact-body{
        padding-right: 200px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .contant-body-links{
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .contact-links{
        font-size: 30px;
        color: #77A8B2;
        text-decoration: none;
        margin-top: 10px;
        
    }
    .contact-links:hover{
        color: rgba(197,220,223,100%);
        text-decoration: none;
    }
    .resume{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .resume a.about-btn{
        text-align: center;
        margin: 0;
        font-size: 1.5em;
        letter-spacing: 0.2em;
        
    }
    /*MEDIA CONTACT PAGE
    @media only screen and (max-width:1200px){
        .contact{
            background-image: none;
        }
        .contact-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .h2-blue{
            margin-top: 6rem;
            color: rgba(197,220,223,100%);
            font-size: 2em;
            font-family: "Lato", sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }
        .contact-body{
            padding-right: 0px;
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .contant-body-links{
            margin-left: 0px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;
            flex-wrap: nowrap;
        }
        .contact-links{
            font-size: 15px;
            
        }
    

    }
    */
    /*ABOUT ME*/
    .about{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        background: url(images/about-bg.svg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .about-bio{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .about-bio img{
        height: 200px;
        max-width: auto;
    }
    .about-bio p{
        font-size: 18px;
        max-width: 50%;
    }
    .about .behance{
        text-decoration: none;
        color: rgba(197,220,223,100%);
    }
    .about .behance:hover{
        text-decoration: none;
        color: #77A8B2;
    }

    .about h2{
        margin-top: 0;
        color: rgba(197,220,223,100%);
        font-size: 48px;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    .about-bio h3{
        color: #77A8B2;
    }

    .about .bio-row-1{
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .about .bio-col-1{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .about .bio-row-2{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .about ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        color: #77A8B2;
    }
    
    a.about-btn{
        margin-top: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.2em;
        letter-spacing: 0.3em;
        color: #77A8B2;
        padding-bottom: 50px;
    }
    .about-btn.btn-light:hover{
        color: white;
    }

/**iPad**/
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%;
    }
    .toggle-button{
        display: flex;
        color: #77A8B2;
    }

    .navbar-links{  
        display:none;
        width: 100%;
    }
 
    .navbar-links ul{ 
        width: 100%; 
        flex-direction: column;
    }
    .navbar-links ul li{
        text-align: center;
    }

    .navbar-links ul li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }
    /*HOME*/
    html, body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        background: url(images/bg-1-mobile.png) no-repeat;
        background-size: cover;
    }
    .body{
        margin: 0;
        padding: 0;
        
        width: 100%;
        
    }
    .main-content{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 0px;
    }

    .mobile-name{
        display: block;
    }

    .desktop-name{
        display: none;
    }

    img.profile{
        height: 400px;
    }

    h1{
        color: #C5DCE9;
        font-size: 4em;
        font-family: "Lato", sans-serif;
        padding: 10px 20px;
    }

    p.intro{
        color: #77A8B2;
        font-size: 2em;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        font-weight: 400;
        text-align: center;
        padding: 20px 20px;

    }
    a.intro-more{
        color: #77A8B2;
        font-size: 1.5em;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 400;
        text-align: center;
        display: block;
    }
    /*CONTACT*/
    .contact{
        background: none;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .contact-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

    }
    .h2-blue{
        margin-top: 5%;
        color: rgba(197,220,223,100%);
        font-size: 24px;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    .h2-blue-top{
        margin-top: 100px;
        color: rgba(197,220,223,100%);
        font-size: 24px;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
 
    .contact-body{
        padding-right: 0px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #EEEEEE;
        padding-bottom: 20px;
        border-radius: 25px;
    }
    .row{
        display: flex;
        flex-direction: column;
        
    }
    
    .contant-body-links{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
    }
    .col .contant-body-links{
       
        font-size: 1.2em;
        letter-spacing: 0.09em;
        padding-top: 10%;
    }
    .contact-links{
        font-size: 1.2em;
        letter-spacing: 0.09em;
        color: #77A8B2;
        text-decoration: none;        
    }
    .contact-links:hover{
        color: rgba(197,220,223,100%);
        text-decoration: none;
    }
    .resume{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .resume a.about-btn{
        padding: 20px;
        margin: 0;
        font-size: 1em;
        letter-spacing: 0.2em;
        background-color: #EEEEEE;
        border-radius: 25px;
    }
}
    


/*PHONE*/
@media only screen and (max-width:767px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%;
    }
    .toggle-button{
        display: flex;
        color: #77A8B2;
    }

    .navbar-links{  
        display:none;
        width: 100%;
    }
 
    .navbar-links ul{ 
        width: 100%; 
        flex-direction: column;
    }
    .navbar-links ul li{
        text-align: center;
    }

    .navbar-links ul li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }
    /*HOME*/
    html, body{
        margin: 0;
        padding: 0;
        width: 100%;
        background: none;
        background-size: cover;
    }
    .body{
        margin: 0;
        padding: 0;
        width: 100%;
        max-height: 800px;
        background: url(images/bg-1-mobile.png) no-repeat;
        background-size: cover;
    }
    .main-content{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 0px;
    }

    .mobile-name{
        display: block;
    }

    .desktop-name{
        display: none;
    }

    img.profile{
        height: 250px;
    }

    h1{
        color: #C5DCE9;
        font-size: 2.5em;
        font-family: "Lato", sans-serif;
        padding: 10px 20px;
    }

    p.intro{
        color: #77A8B2;
        font-size: 1.2em;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 400;
        text-align: center;
        padding: 20px 20px;

    }
    a.intro-more{
        color: #77A8B2;
        font-size: 1em;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 400;
        text-align: center;
        display: block;
    }
    /*Socials*/
    .socials{
        display: flex;
        justify-content: center;
        background-color: rgb(213, 232, 235);
        padding: 5px;
    }

    .socials svg{
        height: 30px;
        width: 30px;
        margin-left: 20px;
        
    }
    .socials img{
        height: 30px;
        width: 30px;
        margin-left: 20px;
        
    }
    /*CONTACT*/
    .contact{
        background: none;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .contact-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

    }
    .h2-blue{
        margin-top: 5%;
        color: rgba(197,220,223,100%);
        font-size: 24px;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    .h2-blue-top{
        margin-top: 100px;
        color: rgba(197,220,223,100%);
        font-size: 24px;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
 
    .contact-body{
        padding-right: 0px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #EEEEEE;
        padding-bottom: 20px;
        border-radius: 25px;
    }
    .row{
        display: flex;
        flex-direction: column;
        
    }
    
    .contant-body-links{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
    }
    .col .contant-body-links{
       
        font-size: 1.2em;
        letter-spacing: 0.09em;
        padding-top: 10%;
    }
    .contact-links{
        font-size: 1.2em;
        letter-spacing: 0.09em;
        color: #77A8B2;
        text-decoration: none;        
    }
    .contact-links:hover{
        color: rgba(197,220,223,100%);
        text-decoration: none;
    }

    .resume{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .resume a.about-btn{
        padding: 20px;
        margin: 0;
        font-size: 1em;
        letter-spacing: 0.2em;
        background-color: #EEEEEE;
        border-radius: 25px;
    }
    /*ABOUT*/
    .about{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        background: url(images/about-bg.svg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .about-bio{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .about-bio img{
        height: 200px;
        max-width: auto;
    }
   
    .about .behance{
        text-decoration: none;
        color: rgba(197,220,223,100%);
    }
    .about .behance:hover{
        text-decoration: none;
        color: #77A8B2;
    }

    .about h2{
        margin-top: 0;
        color: rgba(197,220,223,100%);
        font-size: 25px;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    .about-bio h3{
        color: #77A8B2;
        font-size: 18px;
    }

    .about .bio-row-1{
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .about .bio-col-1{
        display: flex;
        flex-direction: column;
        margin: 10px;
        text-align: center;
    }

    .about .bio-row-2{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        
    }

    .about p{
        font-size: 12px;
        max-width: 90%;
        text-align: center;
        letter-spacing: 0.05em;
    }
    .about ul {
        margin: 20px;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        color: #77A8B2;
    }

    .about li{
        font-size: 0.8em;

    }
    
    a.about-btn{
        margin-top: 30px;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.2em;
        color: #77A8B2;
        padding-bottom: 50px;
    }
    .about-btn.btn-light:hover{
        color: white;
    }

}